.headers {
    text-align: center;
    padding: 1.1em;
    background-image: url('../LED_images/index.jpg');
    color: rgb(255, 255, 255);
    width: 55%;
    margin: auto;
    font-weight: 900;
}

.titles {
    color: white;
    background-color: rgba(1, 75, 17, 0.5);
}

body {
    background-image: url('../LED_images/pxfuel.com.jpg');
    margin: auto
}

main {
    width: 60%;
    text-align: center;
    border: 3px solid black;
    border-radius: .2em;
    margin: auto;
    margin-top: 2em;
    background-image: url('../LED_images/images.jpg');
    padding: 2em;
}

.label {
    font-size: 1.5em;
    background-image: url('../LED_images/Background-Computer-Background-Image-Circuits-170533.jpg');
    padding: 2px;
    margin: 2em;
    border: solid black;
}

.led_form {
    background-image: url('../LED_images/Background-Computer-Background-Image-Circuits-170533.jpg');
    margin: 2em;
    padding: 2em;
    color: white;
}

.img-holder {
    background-image: url('../LED_images/images.jpg');
    margin: 1em;
    padding: 1em;
}

.texts {
    color: black;
    text-align: center;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.479);
}

.Prog1 {
    text-align: center;
    position: center;
    border: 3px solid black;
    border-radius: .2em;
    padding: .5em;
    background-image: url('../LED_images/index.jpg');
    font-size: .9em;
    margin: 1em;
    color: rgb(206, 206, 206);
}

#legends {
    color: rgb(255, 255, 255);
    font-weight: 900;
    padding: .2em;
}

.Nameform {
    text-align: center;
    position: center;
    font-size: 1.2em;
    margin: .5em;
    background-image: url('../LED_images/index.jpg');
    color: white;
}

#Name {
    font-size: 1.5;
}

.descript {
    width: 50%;
    height: 30%;
    font-size: 1.3em;
    font-weight: bold;
    background-image: url('../LED_images/index.jpg');
    color: white;
}

.reset {
    font-size: 1em;
    padding: .3em;
    color: white;
    border: 2px black solid;
    border-radius: 1em;
    background-color: darkred;
    margin: .5em;
}

.submit {
    font-size: 1em;
    padding: .3em;
    color: white;
    border: 2px black solid;
    border-radius: 1em;
    background-color: darkgreen;
    margin: .5em;
}

#test {
    background-color: white;
}